.clue-row {
    display: flex;
    min-height: 35px;
    height: 2em;
    margin: 3px 0;
    align-items: center;
    justify-content: center;
}

.clue-label {
    display: flex;
    width: 18ch;
    height: 100%;
    align-items: center;
}

.box-container {
    display: flex;
    height: 100%;
}